<realHtml>
    <route path="notizen">
        <programm>SHNOTIZ</programm>
        <alias></alias>
        <return></return>
        <library>TGAP0734</library>
    </route>
    <route path="new_notiz">
        <programm>STNOTIZ</programm>
        <library>TGAP0734</library>
    </route>
    <route path="delete_notiz">
        <programm>SDENOTIZ</programm>
        <library>TGAP0734</library>
    </route>
    <route path="stat">
        <programm>A3RT</programm>
        <library>TGAP0734</library>
    </route>
    <route path="kuebel.html">
        <programm>ALDDKUID</programm>
        <library>TGAP0734</library>
    </route>
    <route path="al3stat">
        <programm>SAL3STAT</programm>
        <library>TGAP0734</library>
    </route>
</realHtml>
